{% extends "orders/base.html" %}

{% block title %}Main{% endblock %}
  {% block content %}
    <div>
      <h2>Cart</h2>
          <table class="table">
            <thead>
              <th>Product name</th>
              <th>Price</th>
            </thead>
            {% for item in cart.products.all %}
            <tr>
              <td>{{item.product.name}}</td>
              <td>{{item.price}}</td>
            <tr>
            {% endfor %}
          <tfoot>
          <tr>
            <td></td>
            <td>{{cart.total}}</td>
          </tfoot>
          </table>
      </div>
{% endblock %}
