<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'orders/style.css' %}" type="text/css">
    <script type="text/javascript" src={% static "orders/js/index.js" %}></script>
    <meta charset="utf-8">
    <title>{% block title %}My amazing site{% endblock %}</title>
          <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">BOBO PIZZA</a>
          </div>
          <ul class="nav navbar-nav">
            <li id='menu_switch1'><a href="/">Main</a></li>
            <li id='menu_switch2'><a href="/cart">Cart</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="/login"><span class="glyphicon glyphicon-user"></span> {{user.username}}</a></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
              <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
</head>

<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
