{% extends "orders/base.html" %}
{% load static %}
{% block title %}Main{% endblock %}
{% block head %}
<script type="text/javascript" src={% static "orders/js/item_details_block.js" %}></script>
{% endblock %}
  {% block content %}
  <div id="overlay">
  <div id="details_block" class="panel panel-default">
    <div class="panel-body" id='details_header'>
      <div id='a'><a>Choose size and toppings</a></div>
      <div id='b'><span class="glyphicon glyphicon-remove-circle" onclick="off()"></span></div>
    </div>
    <div class="panel-footer">
      <form class='form-inline' id="details_form" method="POST">{% csrf_token %}
        <div class='toppings'>
        {% for topping in toppings %}
          <div class="checkbox">
            <label><input type="checkbox" class="tops_select" value="{{ topping.topping_name }}">{{topping.topping_name}}</label>
          </div>
        {% endfor %}
        </div>
        <div class='extras'>
        {% for extra in subs_extras %}
          <div class="checkbox">
            <label><input type="checkbox" class="extra_select" value="{{ extra.extra_name }}">{{ extra.extra_name }} +{{extra.price}}</label>
          </div>
        {% endfor %}
        </div>
        <h5>Select size</h5>
        <select class="form-control" id="size_select" name="size_select">
          <option value='small'>Small</option>
          <option id='large_size' value='large' disabled='false'>Large</option>
        </select>
        <input type="submit" value="Add to cart" class="btn btn-default btn-block">
        <p id='details_error' class="text-warning"></p>
      </form>
    </div>
  </div>
  </div>
    <div>
      <h2>Menu</h2>
          <table class="table">
            <thead>
              <th>Regular pizza</th>
              <th>Small</th>
              <th>Large</th>
              <th></th>
            </thead>
            {% for pizza in regular_pizza %}
            <tr>
              <td>{{pizza.name}}</td>
              <td>{{pizza.small_price}}</td>
              <td>{{pizza.large_price}}</td>
              <td>
                <form class='form-inline'>
                  <input id="add_button" name='{{pizza.name}},{{pizza.category}}' value="Add" class="btn btn-default btn-block">
                </form></td>
            <tr>
            {% endfor %}
          </table>
          <table class="table">
          <thead>
            <th>Sicilian pizza</th>
            <th>Small</th>
            <th>Large</th>
            <th></th>
          </thead>
          {% for pizza in sicilian_pizza %}
          <tr>
            <td>{{pizza.name}}</td>
            <td>{{pizza.small_price}}</td>
            <td>{{pizza.large_price}}</td>
            <td>
              <form class='form-inline'>
                <input id="add_button" name='{{pizza.name}},{{pizza.category}}' value="Add" class="btn btn-default btn-block">
              </form></td>
          <tr>
          {% endfor %}
          </table>
          <table class="table">
            <thead>
              <th>Subs</th>
              <th>Small</th>
              <th>Large</th>
              <th></th>
            </thead>
            {% for sub in subs %}
            <tr>
              <td>{{sub.name}}</td>
              <td>{{sub.small_price}}</td>
              <td>{{sub.large_price}}</td>
              <td>
                <form class='form-inline'>
                  <input id="add_button" name='{{sub.name}},{{sub.category}}' value="Add" class="btn btn-default btn-block">
                </form></td>
            <tr>
            {% endfor %}
          </table>
          <table class="table">
            <thead>
              <th>Salads</th>
              <th>Price</th>
              <th></th>
            </thead>
            {% for salad in salads %}
            <tr>
              <td>{{salad.name}}</td>
              <td>{{salad.small_price}}</td>
              <td></td>
              <td>
                <form class='form-inline'>
                  <input id="add_button" name='{{salad.name}},{{salad.category}}' value="Add" class="btn btn-default btn-block">
                </form></td>
            <tr>
            {% endfor %}
          </table>
          <table class="table">
            <thead>
              <th>Pasta</th>
              <th>Price</th>
              <th></th>
            </thead>
            {% for pasta in pastas %}
            <tr>
              <td>{{pasta.name}}</td>
              <td>{{pasta.small_price}}</td>
              <td></td>
              <td>
                <form class='form-inline'>
                  <input id="add_button" name='{{pasta.name}},{{pasta.category}}' value="Add" class="btn btn-default btn-block">
                </form></td>
            <tr>
            {% endfor %}
          </table>
          <table class="table">
            <thead>
              <th>Dinner platters</th>
              <th>Small</th>
              <th>Large</th>
            </thead>
            {% for dinner in dinners %}
            <tr>
              <td>{{dinner.name}}</td>
              <td>{{dinner.small_price}}</td>
              <td>{{dinner.large_price}}</td>
              <td>
                <form class='form-inline'>
                  <input id="add_button" name='{{dinner.name}},{{dinner.category}}' value="Add" class="btn btn-default btn-block">
                </form></td>
            <tr>
            {% endfor %}
          </table>
      </div>
{% endblock %}
