{% extends "orders/base.html" %}
{% load static %}
{% block title %}Main{% endblock %}
{% block head %}
<script type="text/javascript" src={% static "orders/js/item_details_block.js" %}></script>
{% endblock %}
  {% block content %}
  <div id="overlay">
  <div id="details_block" class="panel panel-default">
    <div class="panel-body" id='details_header'>
      <a>Choose size and toppings</a>
      <span class="glyphicon glyphicon-remove-circle" onclick="off()"></span>
    </div>
    <div class="panel-footer">
      <form class='form-inline' id="details_form" method="POST">{% csrf_token %}
        {% for topping in toppings %}
        <div class="checkbox">
          <label><input type="checkbox" class="tops_select" value="{{ topping.topping_name }}">{{topping.topping_name}}</label>
        </div>
        {% endfor %}
        <h5>Select size</h5>
        <select class="form-control" id="size_select" name="size_select">
          <option value='small'>Small</option>
          <option value='large'>Large</option>
        </select>
        <input type="submit" value="Add to cart" class="btn btn-default btn-block">
      </form>
    </div>
  </div>
  </div>
    <div>
      <h2>Menu</h2>
          <table class="table">
            <thead>
              <th>Regular pizza</th>
              <th>Small</th>
              <th>Large</th>
              <th></th>
            </thead>
            {% for pizza in regular_pizza %}
            <tr>
              <td id="item_name">{{pizza.name}}</td>
              <td>{{pizza.small_price}}</td>
              <td>{{pizza.large_price}}</td>
              <td>
                <form class='form-inline'>
                  <input id="add_button" name='{{pizza.name}}' value="Add" class="btn btn-default btn-block">
                </form>
            <tr>
            {% endfor %}
          </table>
          <table class="table">
          <thead>
            <th>Sicilian pizza</th>
            <th>Small</th>
            <th>Large</th>
          </thead>
          {% for pizza in sicilian_pizza %}
          <tr>
            <td>{{pizza.name}}</td>
            <td>{{pizza.small_price}}<a href='/'>Add+</a></td>
            <td>{{pizza.large_price}}<a href='/'>Add+</a></td>
          <tr>
          {% endfor %}
          </table>
          <table class="table">
            <thead>
              <th>Subs</th>
              <th>Small</th>
              <th>Large</th>
            </thead>
            {% for sub in subs %}
            <tr>
              <td>{{sub.name}}</td>
              <td>{{sub.small_price}}</td>
              <td>{{sub.large_price}}</td>
            <tr>
            {% endfor %}
          </table>
          <table class="table">
            <thead>
              <th>Salads</th>
              <th>Price</th>
            </thead>
            {% for salad in salads %}
            <tr>
              <td>{{salad.name}}</td>
              <td>{{salad.small_price}}</td>
            <tr>
            {% endfor %}
          </table>
          <table class="table">
            <thead>
              <th>Pasta</th>
              <th>Price</th>
            </thead>
            {% for pasta in pastas %}
            <tr>
              <td>{{pasta.name}}</td>
              <td>{{pasta.small_price}}</td>
            <tr>
            {% endfor %}
          </table>
          <table class="table">
            <thead>
              <th>Dinner platters</th>
              <th>Small</th>
              <th>Large</th>
            </thead>
            {% for dinner in dinners %}
            <tr>
              <td>{{dinner.name}}</td>
              <td>{{dinner.small_price}}</td>
              <td>{{dinner.large_price}}</td>
            <tr>
            {% endfor %}
          </table>
      </div>
{% endblock %}
